html
  head
    title= title
    style
        include css/game.css
  body
    div#score 0 P1 - P2 0
    div#voce
    p#log esperando conexão
    div#botoes
        button(type="button")#pedra pedra
        button(type="button")#papel papel
        button(type="button")#tesoura tesoura
    script(src="/views/js/game.js") 