body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d3d3;
    font-family: cursive;
}

#log {
    margin-top: 20%;
}

#botoes {
    position: absolute;
    top: 90%;
}